

ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  gap: 20px;

}
li{
  list-style: none;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

img{
  width: 100%;

}
button{
  padding: 5px 10px;
  background-color: skyblue;;
}